// https://coolors.co/0f0d01-fefae0-6f6866-660a00-ff6666
// https://coolors.co/606c38-283618-fefae0-47180b-2f243a
// https://coolors.co/606c38-283618-fefae0-581e0e-95170e
// https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25

// Override default variables before the import
$body-bg: #0f0d01;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: $body-bg;
    color: #0F0D01;
}

.donate__button-link {
    text-decoration: none;
    color: #fefae1;
}

.dancer__names {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
    justify-content: center;
    
}

.pagetitle {
    text-decoration: none;
    color: #0f0d01;
    
}

.bio__text {
    text-align: left;
}

.yoga__text {
    text-align: left;
}